.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.text-center {
    text-align: center;
}

/* header styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

nav ul li {
    list-style: none;
}

.download-resume-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    cursor: pointer;
}

/* hero/banner styles */
#hero {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    height: 652px;
}

.hero-icon {
    padding-top: 26px;
    margin-bottom: 32px;
}

.hero-heading {
    /* max-width: 998px; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 221px 24px;
    word-wrap: break-word;
}

.hero-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

#hero .contact a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contact {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    margin-bottom: 44px;
}